#title {
  font-family: 'Press Start 2P', cursive;
  font-size: 28px;
  text-align: center;
  margin:5%;
}

#pictureOne {
  float: left;

}
#pictureTwo {
  float: right;
}

.button1 {
  float: left;
  margin: 5% 5% 5% 10%;
  background: none;
  border: none;
}

.button2 {
  float: right;
  margin: 5% 10% 5% 5%;
  background: none;
  border: none;
}
/*Animations*/
