body {
  background-image: url(images/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
section {
  background: rgba(255,255,255, 0.8);
  padding-top: 5px;
  margin: 5% 5% 5% 5%;
}

header {
 display: -webkit-flex;
 display: flex;
 align-items: center;
}
#drakeFace {
  /*justify-content: flex-start;
  width: 100%;*/
  width:60px;
  height:90px;
  margin: 3%;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 2000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 2000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 2000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
}
#title {
  font-family: 'Press Start 2P', cursive;
  font-size: 32px;
  justify-content: flex-center;
  text-align: center;
  margin:3%;
}

#buttons {
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

#pictureOne {
  float: left;

}
#pictureTwo {
  float: right;
}

#capOne {
  text-align: center;
  font-family: 'Georgia', serif;
  font-size: 16px;
}

#capTwo {
  text-align: center;
  font-family: 'Georgia', serif;
  font-size: 16px;
}

#button1 {
  float: left;
  margin: 0% 2% 5% 10%;
  background: none;
  border: none;
}

#button2 {
  float: right;
  margin: 0% 10% 5% 2%;
  background: none;
  border: none;
}

#refresh {

  border: 0;
  background: black;
  border-radius: 4px;
  box-shadow: 0 5px 0 #006599;
  color: #fff;
  cursor: pointer;
  font: inherit;
  margin-left: 38%;
  margin-bottom: 10%
  outline: 0;
  padding: 12px 20px;
  transition: all .1s linear;
}
#refresh:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}

#voteGraph {
  margin-top: 5%;
  margin-left: 20%;
  float: middle;
}
/*Animations*/

#button1:hover
{
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}

#button2:hover
{
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}

@-webkit-keyframes spin {
  from {
    -webkit-transform:rotate(0deg);
  }

  to {
    -webkit-transform:rotate(360deg);
  }
}
