#pictureOne {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 10%;
  float: left;

}
#pictureTwo {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 10%;
  float: right;
}

#title {
  font-family: 'Press Start 2P', cursive;
  font-size: 28px;
  text-align: center;
  margin:5%;
}


/*Animations*/
.grow:hover
{
 -webkit-transform: scale(1.1);
 -ms-transform: scale(1.1);
 transform: scale(1.1);
}

